.header-area .btn {
  background-color: #FFD700;
  color: #000;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.header-area .btn:hover {
  background-color: #000;
  color: #FFD700;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 5px 10px;
  border: 1px solid #FFD700;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-bar button {
  padding: 10px;
  background-color: #FFD700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
justify-content: center;
text-align: center;
align-items: center;
}

.search-bar button:hover {
  background-color: #000;
  color: #FFD700;
}

.nav {
  display: flex;
  list-style: none;
}

.nav.active {
  display: flex;
  flex-direction: column;
}

.menu-trigger {
  display: none;
  cursor: pointer;
}

.menu-trigger span {
  color: #FFD700;
  font-size: 20px;
}

.menu-trigger.active span {
  color: #FFF;
}

@media (max-width: 768px) {
  .search-bar {
      display: none;
  }

  .nav {
      display: none;
  }

  .menu-trigger {
      display: block;
   
  }

  .menu-trigger.active + .nav {
      display: flex;
      flex-direction: column;
      background-color: #FFF;
  }

  .nav li {
      margin: 10px 0;
  }
}